server {
    listen 8080;
    server_name localhost;
    root /Users/<your_username>/Sites/nginx_html;
    index index.html;

    # no caching enabled
    location / {
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate";
        add_header Pragma "no-cache";
        add_header Expires 0;
        try_files $uri $uri/ =404;
    }

    # enable caching
    location / {
        add_header Cache-Control "public, max-age=3600";
        try_files $uri $uri/ =404;
    }
}